// Highlight Color
$highlight-deletion     = #fdd
$highlight-addition     = #b5cea8
$highlight-background   = #1e1e1e
$highlight-current-line = #1e1e1e
$highlight-selection    = #264f78
$highlight-foreground   = #d4d4d4
$highlight-comment      = #6a9955
$highlight-red          = #d16969
$highlight-orange       = #ce9178
$highlight-yellow       = #dcdcaa
$highlight-green        = #4ec9b0
$highlight-aqua         = #99dbf9
$highlight-blue         = #569cd6
$highlight-purple       = #c586d0
$highlight-gutter       = #808080

.post-content {
  figure.highlight {
		margin: 2em 0;
		background: $highlight-background;
		color: $highlight-foreground;
		font-size: 12px;
		overflow: scroll;
		overflow-y: hidden;
		overflow-x: auto;

		.gutter {
			color: $hight-gutter;
		}

		pre {
			background: $highlight-background;
			margin: 0;
		}
	}

	code {
		padding: 2px 4px;
		background: $highlight-background;
		font-family: Menlo,Monaco,Consolas,Courier New,monospace;
		font-size: 12px;
	}

	pre {
		padding: 10px;
		overflow: auto;
		background: $highlight-background;
		font-family: Menlo,Monaco,Consolas,Courier New,monospace;

		code {
			padding: 0;
		}
	}



	pre .deletion { background: $highlight-deletion; }
	pre .addition { background: $highlight-addition; }
	pre .meta     { color: $highlight-purple; }

	pre {
		
		.params { color: $highlight-foreground; }
		.comment { color: $highlight-comment; }

		.regexp
		.ruby .constant
		.xml .tag .title
		.xml .pi
		.xml .doctype
		.html .doctype
		.css .id
		.css .class
		.css .pseudo {
			color: $highlight-red;
		}
		
		.number
		.preprocessor
		.built_in
		.literal
		.constant
		.command {
			color: $highlight-green;
		}

		.ruby .class .title
		.css .rules .attribute
		.string
		.value
		.inheritance
		.header
		.ruby .symbol
		.xml .cdata
		.special
		.formula {
			color: $highlight-orange;
		}

		.number { color: $highlight-addition; }

		.title
		.python .title
		.python .decorator {
			color: $highlight-yellow;
		}

		.function
		.attribute
		.css .hexcolor {
			color: $highlight-aqua;
		}

		
		.ruby .function .title
		.ruby .title .keyword
		.perl .sub
		.javascript .title
		.coffeescript .title {
			color: $highlight-purple;
		}

		.keyword
		.javascript .function 
		.tag {
			color: $highlight-blue;
		}

	}
}